.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.inpH {
    display: flex;
    flex-direction: row;
    /* background-color: aliceblue; */
    margin-bottom: 50px;
    margin-top: 0px;
    padding: 1em;
    width: 750px;
    justify-content: center;
    align-items: center;
    /* position: fixed; */

}

.inp {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-bottom: 50px;
    margin-top: 0px;
    padding: 1em;
    width: 750px;
    /* justify-content: center; */
    position: fixed;
}

.country {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #221313;
  border-radius: 8px;
  width: 200px; 
}

.AppHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
